<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/chat.css">
  <link rel="stylesheet" href="../public/css/navbar.css">
</head>
<body>

  <!-- navbar -->
<div class="navbar" style="background-color: rgb(255, 255, 255); ">
 <h4 style="margin-left: 1rem;">CHAT-AI</h4>
 <div class="drop" style="margin-right: 12rem;">
 <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fa-solid fa-user fa-beat-fade fa-xl" style=" border: 1px solid border-left: 1px solid black;;"></i>
  </a>
  <ul class="dropdown-menu">
    <%if(currentUser){%> <li><a class="dropdown-item" href="/user">Profile</a></li>
    <li><a class="dropdown-item clearall" href="#">ClearAll</a></li>
    <li><a class="dropdown-item" href="/logout">Logout</a></li>
  <%}%>
  <%if(!currentUser){%>
    <li><a class="dropdown-item" href="/signup">Signup</a></li>
    <li><a class="dropdown-item" href="/login">Login</a></li>
    <%}%>

  </ul>
</li>
</div>
</div>
<!-- delete msg -->
<div class="clearhis" style="position: fixed;">
  <h5>Do You want to all history?</h5>
  <div style="display: flex; justify-content: space-evenly;">
    <button onclick="" class="cancel">Cancel</button>
   <form action="/delete" method="get"> <button >Delete</button>
  </form>
</div>
</div>
<!-- chatbot -->
  <div class="container">
  <script src="https://kit.fontawesome.com/43ffa161d7.js" crossorigin="anonymous"></script>
  <section class="msger">

    <header class="msger-header">
      <div class="msger-header-title">
        <i class="fas fa-comment-alt"></i> Chat-AI
      </div>
      <div class="msger-header-options" >
        <span><i class="fas fa-cog"></i></span>
      </div>
      
    </header>
  
    <main class="msger-chat" id="msger-chat">
      
      <%for(chat of chating){%>
        <%if(currentUser && currentUser._id.equals(chat.owner._id)){%>
      <div class="chat">
        <br>
      <div class="msg right-msg">
        <div
         class="msg-img"
         style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"
        ></div>
  
        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name"><%=chat.owner.username%></div>
            <div class="msg-info-time"><%=chat.created_at.toLocaleString()%></div>
          </div>
  
          <div class="msg-text">
            <%=chat.question%>
          </div>
        </div>
      </div>
      <div class="msg left-msg">
        <div
         class="msg-img"
         style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"
        ></div>
  
        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">AI</div>
            <div class="msg-info-time"><%=chat.created_at.toLocaleString()%></div>
          </div>
  
          <div >
           <pre class="msg-textt"><%=chat.answer%></pre> 
          </div>
        </div>
      </div>
      <br>
      <hr>
    </div>
    <%}%>
    <%}%>

      
      
    </main>
    
    
     
    <form action="/chatQ" method="post" class="msger-inputarea needs-validation" novalidate>
      <div class="bottom">
        <label for="validationCustom01" class="form-label"></label>
        <input type="text" class="form-control" name="question" id="validationCustom01" placeholder="Enter Message Here....." required>
        
        <button class="btn btn-success"><i class="spinner" >Send</i></button>
      </div>
     
  </form>
  </section>
</div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
 <script src="../js/chat.js"></script>
<script src="../js/bootstarpvalidation.js"></script>
<script src="../js/dropdown.js"></script>


</body>
</html>